<h1 class="text-2xl font-bold mb-4">File IO Upload</h1>

  <div class="mb-4">
    <label for="token" class="block text-gray-700 font-bold mb-2">API Key</label>
    <input type="text" id="token" name="token" [(ngModel)]="token" placeholder="Enter API key"
      class="w-full border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-scale-multiple">
    <p style="color: white">Loading...</p>
  </ngx-spinner>

<div class="flex justify-center mt-8">
  <div class="w-full max-w-md">
    <div class="bg-orange-200 border-t-4 border-orange-400 rounded-lg p-8 shadow-lg">
      <div class="mb-4">
        <input type="file" multiple (change)="onFileSelected($event)">
      </div>
      <button (click)="uploadFiles()" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
        Upload Files
      </button>
    </div>
  </div>
</div>
